.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__tdtBu {
  max-width: 1380px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 42px 20px;
}
.freeBox__tdtBu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__tdtBu > :global(.__wab_flex-container) > *,
.freeBox__tdtBu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tdtBu > :global(.__wab_flex-container) > picture > img,
.freeBox__tdtBu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tdtBu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tdtBu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tdtBu > :global(.__wab_flex-container) > *,
  .freeBox__tdtBu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tdtBu > :global(.__wab_flex-container) > picture > img,
  .freeBox__tdtBu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__oYiZm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__oYiZm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__oYiZm > :global(.__wab_flex-container) > *,
.freeBox__oYiZm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oYiZm > :global(.__wab_flex-container) > picture > img,
.freeBox__oYiZm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3___3Hyi {
  height: auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 0px;
}
.freeBox__lNn89 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lNn89 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__lNn89 > :global(.__wab_flex-container) > *,
.freeBox__lNn89 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lNn89 > :global(.__wab_flex-container) > picture > img,
.freeBox__lNn89
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__vjAwl {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__vjAwl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vjAwl > :global(.__wab_flex-container) > *,
.freeBox__vjAwl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vjAwl > :global(.__wab_flex-container) > picture > img,
.freeBox__vjAwl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__k6SNd {
  position: relative;
}
.link__sBwtt {
  position: relative;
}
.freeBox__bR5F3 {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__bR5F3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__bR5F3 > :global(.__wab_flex-container) > *,
.freeBox__bR5F3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bR5F3 > :global(.__wab_flex-container) > picture > img,
.freeBox__bR5F3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link___8Y8Sf {
  position: relative;
}
.link__mSRb {
  position: relative;
}
.freeBox__vcWoC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vcWoC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__vcWoC > :global(.__wab_flex-container) > *,
.freeBox__vcWoC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vcWoC > :global(.__wab_flex-container) > picture > img,
.freeBox__vcWoC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3__uEnHo {
  height: auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 0px;
}
.freeBox__irl3C {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__irl3C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__irl3C > :global(.__wab_flex-container) > *,
.freeBox__irl3C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__irl3C > :global(.__wab_flex-container) > picture > img,
.freeBox__irl3C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__t5HUu {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__t5HUu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__t5HUu > :global(.__wab_flex-container) > *,
.freeBox__t5HUu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t5HUu > :global(.__wab_flex-container) > picture > img,
.freeBox__t5HUu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__rNj1G {
  position: relative;
}
.link__kwqYw {
  position: relative;
}
.freeBox__w0Wup {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__w0Wup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__w0Wup > :global(.__wab_flex-container) > *,
.freeBox__w0Wup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w0Wup > :global(.__wab_flex-container) > picture > img,
.freeBox__w0Wup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__vPkDl {
  position: relative;
}
.link___9NdD {
  position: relative;
}
.freeBox__iaj5O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__iaj5O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iaj5O > :global(.__wab_flex-container) > *,
.freeBox__iaj5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iaj5O > :global(.__wab_flex-container) > picture > img,
.freeBox__iaj5O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__nnpin {
  height: auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 0px;
}
.freeBox__buy2E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__hb3P1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__scYdd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 380px;
  top: 0px;
  color: var(--token-GYeaWOz8ethU);
  cursor: pointer;
  width: 30px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
