.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-GYeaWOz8ethU);
}
.freeBox___1Uh1B {
  max-width: 1380px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox___1Uh1B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox___1Uh1B > :global(.__wab_flex-container) > *,
.freeBox___1Uh1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Uh1B > :global(.__wab_flex-container) > picture > img,
.freeBox___1Uh1B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Uh1B {
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    min-width: 0;
    padding: 12px 17px 13px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Uh1B > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Uh1B > :global(.__wab_flex-container) > *,
  .freeBox___1Uh1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1Uh1B > :global(.__wab_flex-container) > picture > img,
  .freeBox___1Uh1B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
  }
}
.freeBox__qHRyF {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__qHRyF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 43px);
  width: calc(100% + 43px);
}
.freeBox__qHRyF > :global(.__wab_flex-container) > *,
.freeBox__qHRyF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qHRyF > :global(.__wab_flex-container) > picture > img,
.freeBox__qHRyF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 43px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qHRyF {
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qHRyF > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 43px);
    width: calc(100% + 43px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qHRyF > :global(.__wab_flex-container) > *,
  .freeBox__qHRyF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qHRyF > :global(.__wab_flex-container) > picture > img,
  .freeBox__qHRyF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 43px;
    margin-top: 0px;
  }
}
.link___4IShu {
  color: var(--token-GYeaWOz8ethU);
  text-transform: capitalize;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__oa9P7 {
  color: var(--token-GYeaWOz8ethU);
  text-transform: capitalize;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__tiZR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tiZR {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 8px;
  }
}
.link__eOaSa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--token-GYeaWOz8ethU);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__eOaSa {
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--token-A-7KWpgPcEm5);
  }
}
.freeBox___7Ol6Q {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7Ol6Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 43px);
  width: calc(100% + 43px);
}
.freeBox___7Ol6Q > :global(.__wab_flex-container) > *,
.freeBox___7Ol6Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Ol6Q > :global(.__wab_flex-container) > picture > img,
.freeBox___7Ol6Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 43px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ol6Q {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ol6Q > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 43px);
    width: calc(100% + 43px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ol6Q > :global(.__wab_flex-container) > *,
  .freeBox___7Ol6Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Ol6Q > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Ol6Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 43px;
    margin-top: 0px;
  }
}
.link__oobDa {
  color: var(--token-GYeaWOz8ethU);
  text-transform: capitalize;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-GYeaWOz8ethU);
  flex-shrink: 0;
}
