@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-gimi3XwIgTFG: #007aff;
  --plasmic-token-blue: var(--token-gimi3XwIgTFG);
  --token-GYeaWOz8ethU: #333333;
  --plasmic-token-primary-label: var(--token-GYeaWOz8ethU);
  --token-4vtWrtV9weve: #666666;
  --plasmic-token-secondary-label: var(--token-4vtWrtV9weve);
  --token-WFrktreq2l7v: #f4fafb;
  --plasmic-token-light-gray-06: var(--token-WFrktreq2l7v);
  --token-JYFO51RZNX6U: #ffcc00;
  --plasmic-token-star-color: var(--token-JYFO51RZNX6U);
  --token-n51tgsYmnd0D: 450px;
  --plasmic-token-height: var(--token-n51tgsYmnd0D);
  --token-_Nz0riEMzxlN: 320px;
  --plasmic-token-product-height: var(--token-_Nz0riEMzxlN);
  --token-6qrScAgXbQJW: 250px;
  --plasmic-token-instagram-height: var(--token-6qrScAgXbQJW);
  --token-bEbNck0YscgU: 100%;
  --plasmic-token-insta-width: var(--token-bEbNck0YscgU);
  --token-uVJe9OO7oP5B: 1px;
  --plasmic-token-fil: var(--token-uVJe9OO7oP5B);
  --token-A-7KWpgPcEm5: #000000;
  --plasmic-token-black: var(--token-A-7KWpgPcEm5);
  --token-ijw7F9Fu3lNv: #ffffff;
  --plasmic-token-unnamed-style-token-2: var(--token-ijw7F9Fu3lNv);
  --token-mPJi3dSUN2ET: #663399;
  --plasmic-token-color: var(--token-mPJi3dSUN2ET);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ) {
  --mixin-7A6qgeNRexke_font-family: "Poppins", sans-serif;
  --mixin-7A6qgeNRexke_font-size: 14px;
  --mixin-7A6qgeNRexke_font-style: normal;
  --mixin-7A6qgeNRexke_color: #797979;
  --mixin-7A6qgeNRexke_text-align: left;
  --mixin-7A6qgeNRexke_text-transform: none;
  --mixin-7A6qgeNRexke_white-space: pre-wrap;
  --mixin-7A6qgeNRexke_user-select: text;
  --mixin-7A6qgeNRexke_text-decoration-line: none;
  --mixin-7A6qgeNRexke_text-overflow: clip;
  --mixin-7A6qgeNRexke_line-height: 1.6;
  --mixin-GWZyfrkjaE4m_white-space: pre-wrap;
  --mixin-we19P5ci0AgP_font-family: "Playfair Display", serif;
  --mixin-we19P5ci0AgP_font-weight: 400;
  --mixin-we19P5ci0AgP_font-size: 64px;
  --mixin-we19P5ci0AgP_color: var(--token-WFrktreq2l7v);
  --mixin-we19P5ci0AgP_line-height: 1.1;
  --mixin-we19P5ci0AgP_white-space: pre-wrap;
  --mixin-GnUNiOLAxsUW_color: #333333;
  --mixin-GnUNiOLAxsUW_font-family: "Playfair Display", serif;
  --mixin-GnUNiOLAxsUW_font-weight: 400;
  --mixin-GnUNiOLAxsUW_font-size: 34px;
  --mixin-GnUNiOLAxsUW_line-height: 1.1;
  --mixin-GnUNiOLAxsUW_white-space: pre-wrap;
  --mixin-lzlU-IYX5ihr_color: var(--token-GYeaWOz8ethU);
  --mixin-lzlU-IYX5ihr_font-family: "Poppins", sans-serif;
  --mixin-lzlU-IYX5ihr_font-weight: 500;
  --mixin-lzlU-IYX5ihr_font-size: 28px;
  --mixin-lzlU-IYX5ihr_line-height: 1.3;
  --mixin-lzlU-IYX5ihr_white-space: pre-wrap;
  --mixin-cqsWTUbYClJt_color: var(--token-GYeaWOz8ethU);
  --mixin-cqsWTUbYClJt_font-family: "Poppins", sans-serif;
  --mixin-cqsWTUbYClJt_font-weight: 600;
  --mixin-cqsWTUbYClJt_font-size: 18px;
  --mixin-cqsWTUbYClJt_white-space: pre-wrap;
  --mixin-SlfZHESlJ15P_color: var(--token-GYeaWOz8ethU);
  --mixin-SlfZHESlJ15P_font-family: "Poppins", sans-serif;
  --mixin-SlfZHESlJ15P_font-weight: 500;
  --mixin-SlfZHESlJ15P_font-size: 18px;
  --mixin-SlfZHESlJ15P_white-space: pre-wrap;
  --mixin-gb5KRTX1sxse_color: var(--token-A-7KWpgPcEm5);
  --mixin-gb5KRTX1sxse_font-size: 16px;
  --mixin-gb5KRTX1sxse_font-family: "Poppins", sans-serif;
  --mixin-gb5KRTX1sxse_white-space: pre-wrap;
  --mixin-oTAfpSx7nBlM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oTAfpSx7nBlM_border-bottom-color: #dddddd;
  --mixin-oTAfpSx7nBlM_border-bottom-style: solid;
  --mixin-oTAfpSx7nBlM_border-bottom-width: 1px;
  --mixin-oTAfpSx7nBlM_border-left-color: #dddddd;
  --mixin-oTAfpSx7nBlM_border-left-style: solid;
  --mixin-oTAfpSx7nBlM_border-left-width: 1px;
  --mixin-oTAfpSx7nBlM_border-right-color: #dddddd;
  --mixin-oTAfpSx7nBlM_border-right-style: solid;
  --mixin-oTAfpSx7nBlM_border-right-width: 1px;
  --mixin-oTAfpSx7nBlM_border-top-color: #dddddd;
  --mixin-oTAfpSx7nBlM_border-top-style: solid;
  --mixin-oTAfpSx7nBlM_border-top-width: 1px;
  --mixin-oTAfpSx7nBlM_border-bottom-left-radius: 3px;
  --mixin-oTAfpSx7nBlM_border-bottom-right-radius: 3px;
  --mixin-oTAfpSx7nBlM_border-top-left-radius: 3px;
  --mixin-oTAfpSx7nBlM_border-top-right-radius: 3px;
  --mixin-oTAfpSx7nBlM_font-family: "Inconsolata";
  --mixin-oTAfpSx7nBlM_padding-bottom: 3px;
  --mixin-oTAfpSx7nBlM_padding-left: 6px;
  --mixin-oTAfpSx7nBlM_padding-right: 6px;
  --mixin-oTAfpSx7nBlM_padding-top: 3px;
  --mixin-oTAfpSx7nBlM_white-space: pre-wrap;
  --mixin-PEOKtvUEea58_border-left-color: #dddddd;
  --mixin-PEOKtvUEea58_border-left-style: solid;
  --mixin-PEOKtvUEea58_border-left-width: 3px;
  --mixin-PEOKtvUEea58_color: #888888;
  --mixin-PEOKtvUEea58_padding-left: 10px;
  --mixin-PEOKtvUEea58_white-space: pre-wrap;
  --mixin-ioX1IS0fRkZw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ioX1IS0fRkZw_border-bottom-color: #dddddd;
  --mixin-ioX1IS0fRkZw_border-bottom-style: solid;
  --mixin-ioX1IS0fRkZw_border-bottom-width: 1px;
  --mixin-ioX1IS0fRkZw_border-left-color: #dddddd;
  --mixin-ioX1IS0fRkZw_border-left-style: solid;
  --mixin-ioX1IS0fRkZw_border-left-width: 1px;
  --mixin-ioX1IS0fRkZw_border-right-color: #dddddd;
  --mixin-ioX1IS0fRkZw_border-right-style: solid;
  --mixin-ioX1IS0fRkZw_border-right-width: 1px;
  --mixin-ioX1IS0fRkZw_border-top-color: #dddddd;
  --mixin-ioX1IS0fRkZw_border-top-style: solid;
  --mixin-ioX1IS0fRkZw_border-top-width: 1px;
  --mixin-ioX1IS0fRkZw_border-bottom-left-radius: 3px;
  --mixin-ioX1IS0fRkZw_border-bottom-right-radius: 3px;
  --mixin-ioX1IS0fRkZw_border-top-left-radius: 3px;
  --mixin-ioX1IS0fRkZw_border-top-right-radius: 3px;
  --mixin-ioX1IS0fRkZw_font-family: "Inconsolata";
  --mixin-ioX1IS0fRkZw_padding-bottom: 1px;
  --mixin-ioX1IS0fRkZw_padding-left: 4px;
  --mixin-ioX1IS0fRkZw_padding-right: 4px;
  --mixin-ioX1IS0fRkZw_padding-top: 1px;
  --mixin-ioX1IS0fRkZw_white-space: pre-wrap;
  --mixin-SwENQNz3MW9L_display: flex;
  --mixin-SwENQNz3MW9L_flex-direction: column;
  --mixin-SwENQNz3MW9L_align-items: stretch;
  --mixin-SwENQNz3MW9L_justify-content: flex-start;
  --mixin-SwENQNz3MW9L_list-style-position: outside;
  --mixin-SwENQNz3MW9L_padding-left: 40px;
  --mixin-SwENQNz3MW9L_position: relative;
  --mixin-SwENQNz3MW9L_list-style-type: decimal;
  --mixin-SwENQNz3MW9L_white-space: pre-wrap;
  --mixin-_EIqNtPbPZf7_display: flex;
  --mixin-_EIqNtPbPZf7_flex-direction: column;
  --mixin-_EIqNtPbPZf7_align-items: stretch;
  --mixin-_EIqNtPbPZf7_justify-content: flex-start;
  --mixin-_EIqNtPbPZf7_list-style-position: outside;
  --mixin-_EIqNtPbPZf7_padding-left: 40px;
  --mixin-_EIqNtPbPZf7_position: relative;
  --mixin-_EIqNtPbPZf7_list-style-type: disc;
  --mixin-_EIqNtPbPZf7_white-space: pre-wrap;
  --mixin-b1RsR-SLZ2jU_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-otCAEKgQbhjY_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-otCAEKgQbhjY_white-space);
  --mixin-baIcuoFAnLsp_white-space: pre-wrap;
  --plasmic-mixin-h-1_white-space: var(--mixin-baIcuoFAnLsp_white-space);
  --mixin-8bbc5xsVNUwk_white-space: pre-wrap;
  --plasmic-mixin-h-2_white-space: var(--mixin-8bbc5xsVNUwk_white-space);
  --mixin-Tz7mBs3hWxD5_white-space: pre-wrap;
  --plasmic-mixin-h-3_white-space: var(--mixin-Tz7mBs3hWxD5_white-space);
  --mixin-v8SIxz4BY9vr_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-v8SIxz4BY9vr_white-space);
  --mixin-ZBRTC-mrpSr0_white-space: pre-wrap;
  --plasmic-mixin-product-image_white-space: var(
    --mixin-ZBRTC-mrpSr0_white-space
  );
  --mixin-UK2JwoIr9DB0_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-UK2JwoIr9DB0_box-shadow);
  --mixin-UK2JwoIr9DB0_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-UK2JwoIr9DB0_white-space
  );
  --mixin-4wQSUtjT-qTb_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-4wQSUtjT-qTb_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7A6qgeNRexke_font-family);
  font-size: var(--mixin-7A6qgeNRexke_font-size);
  font-style: var(--mixin-7A6qgeNRexke_font-style);
  color: var(--mixin-7A6qgeNRexke_color);
  text-align: var(--mixin-7A6qgeNRexke_text-align);
  text-transform: var(--mixin-7A6qgeNRexke_text-transform);
  line-height: var(--mixin-7A6qgeNRexke_line-height);
  white-space: var(--mixin-7A6qgeNRexke_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-we19P5ci0AgP_font-family);
  font-weight: var(--mixin-we19P5ci0AgP_font-weight);
  font-size: var(--mixin-we19P5ci0AgP_font-size);
  color: var(--mixin-we19P5ci0AgP_color);
  line-height: var(--mixin-we19P5ci0AgP_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-GnUNiOLAxsUW_color);
  font-family: var(--mixin-GnUNiOLAxsUW_font-family);
  font-weight: var(--mixin-GnUNiOLAxsUW_font-weight);
  font-size: var(--mixin-GnUNiOLAxsUW_font-size);
  line-height: var(--mixin-GnUNiOLAxsUW_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-lzlU-IYX5ihr_color);
  font-family: var(--mixin-lzlU-IYX5ihr_font-family);
  font-weight: var(--mixin-lzlU-IYX5ihr_font-weight);
  font-size: var(--mixin-lzlU-IYX5ihr_font-size);
  line-height: var(--mixin-lzlU-IYX5ihr_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-cqsWTUbYClJt_color);
  font-family: var(--mixin-cqsWTUbYClJt_font-family);
  font-weight: var(--mixin-cqsWTUbYClJt_font-weight);
  font-size: var(--mixin-cqsWTUbYClJt_font-size);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-SlfZHESlJ15P_color);
  font-family: var(--mixin-SlfZHESlJ15P_font-family);
  font-weight: var(--mixin-SlfZHESlJ15P_font-weight);
  font-size: var(--mixin-SlfZHESlJ15P_font-size);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-gb5KRTX1sxse_color);
  font-size: var(--mixin-gb5KRTX1sxse_font-size);
  font-family: var(--mixin-gb5KRTX1sxse_font-family);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oTAfpSx7nBlM_font-family);
  border-radius: var(--mixin-oTAfpSx7nBlM_border-top-left-radius)
    var(--mixin-oTAfpSx7nBlM_border-top-right-radius)
    var(--mixin-oTAfpSx7nBlM_border-bottom-right-radius)
    var(--mixin-oTAfpSx7nBlM_border-bottom-left-radius);
  padding: var(--mixin-oTAfpSx7nBlM_padding-top)
    var(--mixin-oTAfpSx7nBlM_padding-right)
    var(--mixin-oTAfpSx7nBlM_padding-bottom)
    var(--mixin-oTAfpSx7nBlM_padding-left);
  border-top: var(--mixin-oTAfpSx7nBlM_border-top-width)
    var(--mixin-oTAfpSx7nBlM_border-top-style)
    var(--mixin-oTAfpSx7nBlM_border-top-color);
  border-right: var(--mixin-oTAfpSx7nBlM_border-right-width)
    var(--mixin-oTAfpSx7nBlM_border-right-style)
    var(--mixin-oTAfpSx7nBlM_border-right-color);
  border-bottom: var(--mixin-oTAfpSx7nBlM_border-bottom-width)
    var(--mixin-oTAfpSx7nBlM_border-bottom-style)
    var(--mixin-oTAfpSx7nBlM_border-bottom-color);
  border-left: var(--mixin-oTAfpSx7nBlM_border-left-width)
    var(--mixin-oTAfpSx7nBlM_border-left-style)
    var(--mixin-oTAfpSx7nBlM_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-PEOKtvUEea58_color);
  padding-left: var(--mixin-PEOKtvUEea58_padding-left);
  border-left: var(--mixin-PEOKtvUEea58_border-left-width)
    var(--mixin-PEOKtvUEea58_border-left-style)
    var(--mixin-PEOKtvUEea58_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ioX1IS0fRkZw_font-family);
  border-radius: var(--mixin-ioX1IS0fRkZw_border-top-left-radius)
    var(--mixin-ioX1IS0fRkZw_border-top-right-radius)
    var(--mixin-ioX1IS0fRkZw_border-bottom-right-radius)
    var(--mixin-ioX1IS0fRkZw_border-bottom-left-radius);
  padding: var(--mixin-ioX1IS0fRkZw_padding-top)
    var(--mixin-ioX1IS0fRkZw_padding-right)
    var(--mixin-ioX1IS0fRkZw_padding-bottom)
    var(--mixin-ioX1IS0fRkZw_padding-left);
  border-top: var(--mixin-ioX1IS0fRkZw_border-top-width)
    var(--mixin-ioX1IS0fRkZw_border-top-style)
    var(--mixin-ioX1IS0fRkZw_border-top-color);
  border-right: var(--mixin-ioX1IS0fRkZw_border-right-width)
    var(--mixin-ioX1IS0fRkZw_border-right-style)
    var(--mixin-ioX1IS0fRkZw_border-right-color);
  border-bottom: var(--mixin-ioX1IS0fRkZw_border-bottom-width)
    var(--mixin-ioX1IS0fRkZw_border-bottom-style)
    var(--mixin-ioX1IS0fRkZw_border-bottom-color);
  border-left: var(--mixin-ioX1IS0fRkZw_border-left-width)
    var(--mixin-ioX1IS0fRkZw_border-left-style)
    var(--mixin-ioX1IS0fRkZw_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SwENQNz3MW9L_display);
  flex-direction: var(--mixin-SwENQNz3MW9L_flex-direction);
  align-items: var(--mixin-SwENQNz3MW9L_align-items);
  justify-content: var(--mixin-SwENQNz3MW9L_justify-content);
  list-style-position: var(--mixin-SwENQNz3MW9L_list-style-position);
  padding-left: var(--mixin-SwENQNz3MW9L_padding-left);
  position: var(--mixin-SwENQNz3MW9L_position);
  list-style-type: var(--mixin-SwENQNz3MW9L_list-style-type);
  flex-column-gap: var(--mixin-SwENQNz3MW9L_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-_EIqNtPbPZf7_display);
  flex-direction: var(--mixin-_EIqNtPbPZf7_flex-direction);
  align-items: var(--mixin-_EIqNtPbPZf7_align-items);
  justify-content: var(--mixin-_EIqNtPbPZf7_justify-content);
  list-style-position: var(--mixin-_EIqNtPbPZf7_list-style-position);
  padding-left: var(--mixin-_EIqNtPbPZf7_padding-left);
  position: var(--mixin-_EIqNtPbPZf7_position);
  list-style-type: var(--mixin-_EIqNtPbPZf7_list-style-type);
  flex-column-gap: var(--mixin-_EIqNtPbPZf7_flex-column-gap);
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
