.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  min-width: 0;
  padding: 117px 20px 103px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__lv2RW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__lv2RW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__lv2RW > :global(.__wab_flex-container) > *,
.freeBox__lv2RW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lv2RW > :global(.__wab_flex-container) > picture > img,
.freeBox__lv2RW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.freeBox__xuATr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: none;
  padding: 0px;
}
.freeBox__xuATr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__xuATr > :global(.__wab_flex-container) > *,
.freeBox__xuATr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xuATr > :global(.__wab_flex-container) > picture > img,
.freeBox__xuATr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: left;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  align-self: flex-start;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-GYeaWOz8ethU);
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 11px;
}
.text {
  font-size: 15px;
  color: var(--token-GYeaWOz8ethU);
  font-weight: 400;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-GYeaWOz8ethU);
  flex-shrink: 0;
}
.freeBox__lllvb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__lllvb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lllvb > :global(.__wab_flex-container) > *,
.freeBox__lllvb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lllvb > :global(.__wab_flex-container) > picture > img,
.freeBox__lllvb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lllvb {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lllvb > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__jtEx3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jtEx3 {
    width: 150px;
    padding-right: 1px;
    padding-left: 0px;
    height: 200px;
    flex-shrink: 0;
  }
}
.img__qfnWy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: var(--token-6qrScAgXbQJW);
  min-width: 0;
  flex-shrink: 0;
}
.img__qfnWy > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qfnWy {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__b1R3Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 213px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b1R3Y {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__xfSvB {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-bEbNck0YscgU);
  height: var(--token-6qrScAgXbQJW);
  margin-top: 0px;
  flex-shrink: 0;
}
.img__xfSvB > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xfSvB {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__rgJF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 66px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rgJF {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__spW26 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-bEbNck0YscgU);
  height: var(--token-6qrScAgXbQJW);
  flex-shrink: 0;
}
.img__spW26 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__spW26 {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__sQqNn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 204px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sQqNn {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__h31LM {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-bEbNck0YscgU);
  height: var(--token-6qrScAgXbQJW);
  margin-top: 0px;
  flex-shrink: 0;
}
.img__h31LM > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__h31LM {
    height: 100%;
    padding-left: 0px;
    min-height: 0;
  }
}
.freeBox__ieplg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ieplg {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__np3Ra {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-bEbNck0YscgU);
  height: var(--token-6qrScAgXbQJW);
  flex-shrink: 0;
}
.img__np3Ra > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__np3Ra {
    height: 100%;
    width: auto;
    min-height: 0;
  }
}
