.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 99;
  background: linear-gradient(#0a0a0a1c, #0a0a0a1c),
    url("/plasmic/commerce_storefront/images/home4Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.navBar:global(.__wab_instance) {
  align-self: center;
}
.section__sQBam {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__sQBam {
    padding-bottom: 0px;
    left: auto;
    top: auto;
  }
}
.container3 {
  max-width: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-self: flex-end;
  min-width: 0;
  padding: 200px 23px 220px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container3 {
    padding-top: 30px;
    padding-bottom: 66px;
  }
}
.freeBox__hooD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hooD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hooD > :global(.__wab_flex-container) > *,
.freeBox__hooD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hooD > :global(.__wab_flex-container) > picture > img,
.freeBox__hooD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__npmk8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__npmk8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__npmk8 > :global(.__wab_flex-container) > *,
.freeBox__npmk8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__npmk8 > :global(.__wab_flex-container) > picture > img,
.freeBox__npmk8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1 {
  position: relative;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 45px;
  }
}
.text__i36B {
  width: 100%;
  height: auto;
  max-width: 585px;
  text-align: center;
  color: var(--token-WFrktreq2l7v);
  font-size: 22px;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i36B {
    font-size: 20px;
  }
}
.freeBox__hGaO7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-WFrktreq2l7v);
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid var(--token-WFrktreq2l7v);
}
.root .button:hover {
  background: var(--token-GYeaWOz8ethU);
  border-color: var(--token-GYeaWOz8ethU);
}
.section__ibRn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 20px;
}
.freeBox__eUKxi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__eUKxi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 28px);
  height: calc(100% + 28px);
}
.freeBox__eUKxi > :global(.__wab_flex-container) > *,
.freeBox__eUKxi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eUKxi > :global(.__wab_flex-container) > picture > img,
.freeBox__eUKxi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 28px;
}
.h3__n7U5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.link__iRw1Q {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-GYeaWOz8ethU);
}
.link__iRw1Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link__iRw1Q > :global(.__wab_flex-container) > *,
.link__iRw1Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__iRw1Q > :global(.__wab_flex-container) > picture > img,
.link__iRw1Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.text__sm7Mz {
  font-size: 15px;
  color: var(--token-GYeaWOz8ethU);
  font-weight: 400;
}
.svg__w4VpM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-GYeaWOz8ethU);
  flex-shrink: 0;
}
.section__ch3Qm {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  background: var(--token-WFrktreq2l7v);
  padding: 100px 20px;
}
.section__ch3Qm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__ch3Qm > :global(.__wab_flex-container) > *,
.section__ch3Qm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__ch3Qm > :global(.__wab_flex-container) > picture > img,
.section__ch3Qm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ch3Qm {
    padding-top: 60px;
    padding-bottom: 60px;
    left: auto;
    top: auto;
  }
}
.freeBox__ywnX1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ywnX1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__ywnX1 > :global(.__wab_flex-container) > *,
.freeBox__ywnX1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ywnX1 > :global(.__wab_flex-container) > picture > img,
.freeBox__ywnX1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__izoAj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.categoryCollection__y7NeB:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection___5H3C:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__kpOeP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-n51tgsYmnd0D);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField___4KJB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__aXnF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3MSQo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xvzy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
.categoryCollection___1RpHv:global(.__wab_instance) {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__ybv2C:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__fe5Cm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-n51tgsYmnd0D);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__hPx3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__nUBzW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___8C4Nd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___85Czk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.categoryCollection___4Jnp6:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__f0DmM:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__c27NJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-n51tgsYmnd0D);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__bcEiR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___5NGu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dyPEq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___0EHek {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  background: none;
  padding: 100px 20px;
}
.section___0EHek > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section___0EHek > :global(.__wab_flex-container) > *,
.section___0EHek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section___0EHek > :global(.__wab_flex-container) > picture > img,
.section___0EHek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___0EHek {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__eJi0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__eJi0L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__eJi0L > :global(.__wab_flex-container) > *,
.freeBox__eJi0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eJi0L > :global(.__wab_flex-container) > picture > img,
.freeBox__eJi0L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text__wRd6Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 635px;
  text-align: center;
  min-width: 0;
}
.h3___3UT0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: center;
  min-width: 0;
}
.link__qqZx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-GYeaWOz8ethU);
}
.link__qqZx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link__qqZx > :global(.__wab_flex-container) > *,
.link__qqZx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qqZx > :global(.__wab_flex-container) > picture > img,
.link__qqZx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.text__nFwtw {
  font-size: 15px;
  color: var(--token-GYeaWOz8ethU);
  font-weight: 400;
}
.svg__ynNs6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-GYeaWOz8ethU);
  flex-shrink: 0;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__dg9Ph {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__qIkd2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__e9Yig {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.shopingSection:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.instagram:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
